[user]
	email = austin.theriot@literati.com
	name = Austin Theriot
[credential "https://github.com"]
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/local/bin/gh auth git-credential
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status

# WORK CONFIG (while still using VS Code)
[core]
	editor = code --wait
[diff]
 	tool = vscode